<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC__btwkhzEFpYHSAMr5YRJQFOh5tEOeVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>890336873900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurehub.spellit</string>
	<key>PROJECT_ID</key>
	<string>draw-33538</string>
	<key>STORAGE_BUCKET</key>
	<string>draw-33538.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890336873900:ios:ebf576817966bd449f7e09</string>
	<key>DATABASE_URL</key>
	<string>https://draw-33538-default-rtdb.firebaseio.com</string>
	<key>CLIENT_ID</key>
	<string>890336873900-hanbk8umc96h7rb8slj18vfun6odm7gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890336873900-hanbk8umc96h7rb8slj18vfun6odm7gn</string>
</dict>
</plist>